* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.one {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.one > img {
  height: 200px;
}
.two {
  display: grid;
  grid-column: 2;
}
.two > img {
  height: 100px;
  width: 200px;
}
h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
