* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

.wrapper {
  display: grid;
  gap: 10px;
}
.one {
  display: flex;
  grid-column: 1 / span 3;
  background-color: #f6f6f6;
  border-top: 1px solid;
  border-color: #ab0613;
}
.one > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
.two {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  border-color: #ab0613;
  background-color: #f6f6f6;
}
.two > img {
  max-width: 100%;
}
.two > a {
  background-color: #ab0613;
  color: white;
  padding: 10px;
}
.three {
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  border-color: #ab0613;
  background-color: #f6f6f6;
}
.three > img {
  max-width: 100%;
}
.four {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  border-color: #ab0613;
  background-color: #f6f6f6;
}
.four > img {
  max-width: 100%;
}
.five {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f6f6f6;
  border-top-width: 1px;
  border-right: solid;
  border-right-color: rgb(220, 220, 220);
}
.five > a {
  border-top: 1px solid;
  border-color: #ab0613;
  background-color: #f6f6f6;
}
.six {
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f6f6f6;
}
.six > a {
  border-top: 1px solid;
  border-color: #ab0613;
  background-color: #f6f6f6;
}
h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
p {
  font-size: 0.8rem;
}
a {
}
