* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}
.one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f6f6f6;
  border-top: 1px solid;
  border-color: #ab0613;
}
.one > img {
  height: 200px;
}
.two {
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  border-color: #ab0613;
  background-color: #f6f6f6;
}
.two > img {
  height: 100px;
}
.two > a {
  background-color: #ab0613;
  color: white;
  padding: 10px;
}
.wrapper_two {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px;
  gap: 10px;
  margin-top: 10px;
}
.three {
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  border-color: #ab0613;
  background-color: #f6f6f6;
}
.three > img {
  height: 100px;
}
.four {
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  border-color: #ab0613;
  background-color: #f6f6f6;
}
.four > img {
  height: 100px;
}
.five {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f6f6f6;
}
.five > a {
  border-top: 1px solid;
  border-color: #ab0613;
  background-color: #f6f6f6;
}
.six {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f6f6f6;
}
.six > a {
  border-top: 1px solid;
  border-color: #ab0613;
  background-color: #f6f6f6;
}
h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
p {
  font-size: 0.8rem;
}
a {
}
